<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <header>
        <h1>HOME</h1>
    </header>
    <main>
        <section>
            <ul class="lista">
                <li class="item">
                    <strong><a href="/recursos">Gestion de recursos</a></strong>
                </li>
                <li class="item">
                    <strong><a href="notificaciones.ejs">Gestion de notificaciones</a></strong>
                </li>
                <li class="item">
                    <strong><a href="usuarios.ejs">Gestion de usuarios</a></strong>
                </li>
                <li class="item">
                    <strong><a href="reservas.ejs">Gestion de reservas</a></strong>
                </li>
            </ul>
        </section>
    </main>
</body>

</html>