<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detalle notificacion</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header>
        <h1>Gestion de notificaciones por <%=user.nombre%></h1>
    </header>
    <main>
        <section>
            <h2>detalle notificacion</h2>
            <ul class="notificacion-item">
                <li class="notificacion-item">
                    <span>usuarioId: <%=notificacion.usuarioId%></span>
                    <span>mensaje: <%=notificacion.mensaje%></span>
                    <span>mensaje leido: <%=notificacion.leida5></span>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>