<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detalle recurso</title>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <header>
        <h1>Gestion de recursos por <%= user.nombre %>!</h1>
    </header>
    <main>
        <section>
            <h2>Detalle recursos</h2>
            <ul class="recurso-item">
                <li class="recurso-item">
                    <span>fechaInicio: <%= recurso.fechaInicio %></span>
                    <span>fechaFin: <%= recurso.fechaFin %></span> 
                    <span>estado: <%= recurso.estado %></span>
                </li>
            </ul> 
        </section>
    </main>
</body>
</html>